
<div id="chart_container_<%= monitoring_chart %>"></div>
<%= javascript_tag "$(document).ready(function() {
      init_monitoring_chart('#{monitoring_chart}', [ #{@chart_data[monitoring_chart]} ] );
    });" %>
